<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar bg-light border-bottom">
      <%= link_to 'Wikinimous', articles_path, class: "navbar-brand text-secondary" %>
      <%= link_to 'New article', new_article_path, class: "nav-link text-secondary" %>
    </div>
    <div class="container my-5">
      <div class="row justify-content-center">
        <div class="col-8">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
